<main class="form-wrapper">
  <div class="">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'form-control' %>
      </div>

      <div class="actions">
        <button type="submit" class="form-button btn btn-primary">Login</button>
      </div>
      <small>Dont have an account? <%= link_to 'Sign Up', new_user_registration_path %></small>
    <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    <% end %>
  </div>
</main>
