<div>  
  <main class="home-banner">
    <div class="img-container">
      <a href="repair.html">
        <div class="photo-div">
          <img src="<%= image_path('img1.jpg')%>" alt="">
          <h1>Repair</h1>
        </div>
      </a>
    </div>
    <div class="img-container">
      <%= link_to products_path do %>
        <div class="photo-div">
          <img src="<%= image_path('img2.jpg')%>" alt="">
          <h1>Shop</h1>
        </div>
      <% end %>
    </div>
  </main>
  <main class="brand-text">
    <h1>"Our Vision: One satisfied customer at a time, forever."
    </h1>

    <div class="social-links">
      <ul >
        <li><a href="#"><img src="<%= image_path('facebook.jpg')%>" alt=""></a></li>
        <li><a href="#"><img src="<%= image_path('twitter.jpg')%>" alt=""></a></li>
        <li><a href="#"><img src="<%= image_path('instagram.jpg')%>" alt=""></a></li>
      </ul>
    </div>
  </main>
</div>