<main class="shop-m" >
  <div >
    <div class="btns">
      <button type="button" class="active" name="button">Our Collection</button>
      <button type="button" class="active" name="button">Add New Address</button>
    </div>


    <div id="our-collection-div">
      <% @addresses.each do |address| %>
        <article class="">
          <div class="">
            <div class="info">
              <div class="">
                <p><%= address.address_line_one %></p>
                <p><%= address.address_line_two %></p>
                <p><%= address.city %></p>
                <p><%= address.state %></p>
                <p><%= address.country %></p>
                <p><%= address.pincode %></p>
              </div>
            </div>
          </div>

        </article>
      <% end %>      
    </div>    
  </div>
</main>

